:root {
    /* Colors variable */
    --black: rgb(0, 0, 0);
    --lighter-black:#1F2629;
    --light-black:#2C2C2C;
    --darkest-blue:#141628;
    --darker-blue:  #020E28;
    --blue:#2B59FF;
    --dark-blue: #253993;
    --light-blue: #5170FF;
    --lighter-blue: rgb(180, 220, 255);
    --darkar-gray:#686868;
    --dark-gray: #536169;
    --gray: #D7D8D9;
    --light-gray: #E8ECFF;
    --lighter-gray: #F4F5F8;
    --lightest-gray:#D4D4D8;
    --off-white: #F5F7FF;
    --white: rgb(255, 255, 255);
    --primary-color: #090909;
    --secondary-color:  #42A5F5;
    --gray-bg: #DFE2EA;
    /* font family variable */
  
    --font-1: "Inter Display";
    --font-2: ;
    --font-3: ;
    --font-body: "Inter", sans-serif;
  
    /* UI element  variable */
  }
  
.contact-section{
    padding: 171px 0px !important;
}
.contact-us-advance-dsc{
    color: var(--off-white);
    max-width: 655px;
    margin-bottom: 40px !important;
    opacity: 0.86;
}
.contact-us-advance-title{
    line-height: 46px !important;
    color: var(--white);
    letter-spacing: -0.8px;
}
.discover-img-container {
    position: relative;
    padding: 20px 0px 20px 20px !important;
    border-radius: 3px;
    overflow: hidden; 
    width: 47.5% !important;
  }
  .discover-img-container-bottom {
    padding: 20px 20px 20px 0px !important;
  }
  .discover-img-wrapper {
    position: relative !important;
    display: inline-block;
    width: fit-content;
  }
  
  .discover-img {
    display: block !important;
    width: 100%; 
    height: 100%;
    min-height: 567px; 
  }
  
  .discover-img-wrapper::before {
    content: '';
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(170deg, #5267C5 -66.34%, rgba(8, 17, 60, 0) 128.58%);
    pointer-events: none; 
    z-index: 3;
  }

  .get-in-title{
    color: var(--darker-blue);
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.8px;
  }
  .get-in-dsc{
    color: var(--light-black);
    letter-spacing: -0.16px;
    margin-bottom: 40px !important;
  }
  .logo-title{
    font-family: Roboto;
    color: var(--darker-blue);
  }
  .logo-dsc {
    font-weight: 600 !important;
    color: var(--darker-blue);
    font-size: 18px !important;
  }
  .logo-img-container{
    padding: 17.5px !important;
    background: var(--gray-bg);
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 56px !important;
  }
  .wm-margin-bottom-40{
    margin-bottom: 40px !important;
  }
  .social-icon-container{
    margin-bottom: 64px !important;
  }
  .social-icon-blue{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid var(--dark-blue);
    background: transparent;
    position: relative;
    overflow: hidden;
  }
  .social-icon-blue:hover{
    border: 2px solid var(--light-blue);
    transition: border 1s;
  }
  .social-icon-blue::before{
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    height: 0;
    width: 0;
    border-radius: 50%;
    background: var(--gray-bg);
    transition: width 0.5s,height 0.5s;
  }
  .social-icon-blue:hover::before{
   width: 1000px;
   height: 1000px;
   color: var(--light-blue) !important;
  }

  @media only screen and (max-width: 600px) {
    .contact-section{
        padding: 49px 0px !important;
    }
    .contact-us-title{
        font-size: 26px !important;
        text-align: center;
        font-weight: 500 !important;
    }
    .discover-section{
        flex-direction: column-reverse !important;
    }
    .discover-img-container{
        width: 100% !important;
        padding: 11px !important;
    }
    .discover-img{
        min-height: 334px !important;
    }
    .discover-section{
        padding: 24px 0px !important;
    }
    .get-in-title{
        font-size: 20px !important;
        text-align: center;
    }
    .get-in-dsc{
        text-align: center;
        margin-bottom: 24px !important;
    }
    .logo-img-container{
        width: 40px !important;
        height: 40px !important;
      }
      .wm-margin-bottom-40{
        margin-bottom: 0px !important;
      }
      .social-icon-container{
        gap: 16px !important;
        margin-bottom: 32px !important;
      }
      .logo-dsc{
        font-size: 15px !important;
      }
      .wm-responsive-margin {
        margin-bottom: 32px !important;
      }
      .social-icon-blue{
        height: 50px;
        width: 50px;
      }
      .contact-us-advance-title{
        line-height: 28px !important;
      }
      .contact-us-advance-dsc {
        margin-bottom: 10px !important;
    }
    .responsive-padding{
        padding: 40px 0px !important;
    }
    .clipped-bg-bottom{
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 767px) {
    .contact-section{
        padding: 49px 0px !important;
    }
    .contact-us-title{
        font-size: 26px !important;
        text-align: center;
        font-weight: 500 !important;
    }
    .discover-section{
        flex-direction: column-reverse !important;
    }
    .discover-img-container{
        width: 100% !important;
        padding: 11px !important;
    }
    .discover-img{
        min-height: 334px !important;
    }
    .discover-section{
        padding: 24px 0px !important;
    }
    .get-in-title{
        font-size: 20px !important;
        text-align: center;
    }
    .get-in-dsc{
        text-align: center;
        margin-bottom: 24px !important;
    }
    .logo-img-container{
        width: 40px !important;
        height: 40px !important;
      }
      .wm-margin-bottom-40{
        margin-bottom: 0px !important;
      }
      .social-icon-container{
        gap: 16px !important;
        margin-bottom: 32px !important;
      }
      .logo-dsc{
        font-size: 15px !important;
      }
      .wm-responsive-margin {
        margin-bottom: 32px !important;
      }
      .social-icon-blue{
        height: 50px;
        width: 50px;
      }
      .contact-us-advance-title{
        line-height: 28px !important;
      }
      .contact-us-advance-dsc {
        margin-bottom: 10px !important;
    }
    .responsive-padding{
        padding: 40px 0px !important;
    }
    .clipped-bg-bottom{
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo-dsc{
        font-size: 12px !important;
    }
    .logo-title{
        font-size: 14px;
    }
    .logo-img-container{
        width: 44px !important;
        height: 44px !important;
    }
    .discover-img-container{
        width: 41.5% !important;
    }
    .responsive-width{
        width: 55% !important;
    }
    .get-in-title{
        font-size:32px !important;
    }
    .social-icon-container {
        margin-bottom: 44px !important;
    }
    .discover-img {
        min-height: 532px;
    }
    .discover-img-container{
        padding: 16px 16px 16px 0px !important;
    }
    .social-icon-blue{
        height: 56px !important;
        width: 56px !important;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px){
    .discover-img-container {
        width: 46.5% !important;
    }
    .logo-dsc {
        font-weight: 600 !important;
        color: var(--darker-blue);
        font-size: 15px !important;
    }
  }