:root {
  /* Colors variable */
  --black: rgb(0, 0, 0);
  --lighter-black:#1F2629;
  --light-black:#2C2C2C;
  --darkest-blue:#141628;
  --darker-blue:  #020E28;
  --blue:#2B59FF;
  --dark-blue: #253993;
  --light-blue: #5170FF;
  --lighter-blue: rgb(180, 220, 255);
  --darkar-gray:#686868;
  --dark-gray: #536169;
  --gray: #D7D8D9;
  --light-gray: #E8ECFF;
  --lighter-gray: #F4F5F8;
  --lightest-gray:#D4D4D8;
  --off-white: #F5F7FF;
  --white: rgb(255, 255, 255);
  --primary-color: #090909;
  --secondary-color: #f8ce44;
  /* font family variable */

  --font-1: "Inter Display";
  --font-2: ;
  --font-3: ;
  --font-body: "Inter", sans-serif;

  /* UI element  variable */
}

*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  color: var(--white) !important;
  text-decoration: none !important;
}

body {
  background-color: var(--lighter-gray);
  font-family: var(--font-body);
}
.container {
  max-width:1200px !important;
  margin: 0px auto !important;
  padding: 0px !important;
}
ul {
  list-style: none; 
  padding: 0 !important;       
  margin: 0 !important; 
}
.opacity-80{
  opacity: 0.8;
}
/* ============ Typography Classes ============ */
.wm-h-1 {
  font-size: 58px;
  font-weight: 600;
  line-height: 66px;
}
.wm-h-2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
.wm-h-3 {
  font-weight: 700;
  font-size: 32px;
  line-height:48px;
}
.wm-h-4 {
  font-weight: 700;
  font-size: 24px;
  line-height:36px;
}
.wm-text-xxl {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.wm-text-xl {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.wm-text-lg {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
.wm-text-md {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.wm-text-normal{
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
.wm-text-sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.wm-text-xs {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.wm-text-right {
  text-align: right;
}
.wm-text-center {
  text-align: center;
}
.wm-text-justify {
  text-align: justify;
}

/* global classes */
.wm-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#toggleButton{
  border: none !important;
  background: none !important;
  font-size: 28px;
  color: white;
}
.responsive-navbar {
  display: none !important;
  background-color: var(--dark-blue);
  padding: 15px !important;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 100%;
  width: 100%;
}
.responsive-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.responsive-navbar li {
  font-size: 16px;
  padding: 12px 0 !important;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.responsive-navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: inline-block;
}
.wm-responsive-block{
  display: none !important;
}
.wm-responsive-hidden{
  display: flex !important;
}
/* ======= Spacing classes   ====== */
.wm-gap-24{
  gap: 24px;
}
.wm-gap-32{
  gap: 32px;
}
.wm-gap-130{
  gap: 130px;
}
/* animation classes */
.hover-underline {
  position: relative;
  display: inline-block; /* Ensure proper width for inline text */
}
.hover-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 1px; 
  background-color: white; 
  transition: width 0.3s ease; 
}

.hover-underline:hover::before {
  width: 100%; 
}

.gradient-line-left {
  position: relative;
  width: 30px; 
  height: 9px;  
}

.gradient-line-left::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%; /* Full width for the gradient */
  height: 2px; /* Thickness of the line */
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateY(-50%); /* Vertically center the line */
  z-index: 1;
}

.gradient-line-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px; 
  height: 8px; 
  background: white;
  border-radius: 50%; 
  transform: translateY(-50%);
  z-index: 2;
}
.gradient-line-right {
  position: relative;
  width: 30px; 
  height: 9px;  
}

.gradient-line-right::before {
  content: '';
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%; 
  height: 2px; 
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateY(-50%);
  z-index: 1;
}

.gradient-line-right::after {
  content: '';
  position: absolute;
  top: 50%; 
  right: 0; 
  width: 8px; 
  height: 8px; 
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
}


/* ======= component based classes   ====== */
/* navbar done */
.navbar {
  background: var(--dark-blue);
  padding: 16px 0px !important;
  border: none !important;
  height: 73px;
  width: 100%;
}
.navbar-fixed{
  position: fixed !important; /* Makes it sticky */
  top: 0;
  z-index: 1000; 
   background: var(--dark-blue);
   width: 100%;
   padding: 16px 0px !important;

}
.nav-ul{
  color: var(--white);
  letter-spacing: -0.16px;
}
.nav-number{
  color: var(--white);
font-weight: 600;
text-underline-offset: 19.5%; /* 3.12px */
}
/* hero section */
.hero-wrapper{
  max-width: 578px !important;
}
.hero-section{
  padding: 121px 0px !important;
  position: relative;
  z-index: 1;
}
.hero-section::after{
  content: '';
  position: absolute;
  backdrop-filter: blur(2px);
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.hero-top-title {
  color: var(--white);
  font-weight: 500 !important;
  font-family: var(--font-1);
}
.hero-title{
  color: var(--white);
  letter-spacing: -1.16px;

}
.hero-title-span {
  color: var(--light-blue);
  font-style: italic;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hero-title-span::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 105%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  z-index: -1; 
}

.hero-title-span::before {
  left: -10px;
  transform: skewX(-15deg); 
}

.hero-dsc{
  letter-spacing: -0.17px;
  color: var(--gray);
}

.button-primary{
  padding: 14px 24px !important;
  color: var(--white);
  font-weight: 500 !important;
  letter-spacing: -0.17px;
  background-color: var(--light-blue);
  border: none;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
.z-index-100 {
  z-index: 100;
  position: relative;
}
.button-primary::before{
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%,-50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background:var(--dark-blue);
  transition: width 0.5s,height 0.5s;
  color: var(--light-blue);
}
.button-primary:hover::before{
 width: 1000px;
 height: 1000px;
 color: var(--light-blue) !important;
}

.choose-taxi-section{
  padding: 100px 0px !important;
}

.choose-title{
  letter-spacing: -0.8px;
  color: var(--darker-blue);
}
.choose-dsc{
  margin-bottom: 40px !important;
  max-width: 505px;
  color: var(--light-black);
}
/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px !important;
}

.swiper-pagination-bullet {
  margin: 0 4px !important;
}
.swiper-pagination-bullet-active{
  background: var(--dark-blue) !important; 
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

/* card */
.car-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
background: #FFF;
  gap: 40px;
  padding-bottom: 40px !important;
  margin-bottom: 40px !important;
}
.card-title{
  color: var(--darker-blue);
}
.card-dsc{
  font-size: 15px;
font-weight: 600;
letter-spacing: -0.3px;
color: var(--darkar-gray);
}
.card-details{
  font-weight: 500 !important;
  color: var(--darkar-gray);
  letter-spacing: -0.34px;
}
.card-bottom{
  margin: 0px 40px !important;
}
.card-img {
  height: 284px;
  width: 100%;
  display: block;
  object-fit: cover;
  clip-path: ellipse(67% 67% at 50% 28%); 
}

.button-secondary {
  background-color: var(--dark-blue);
  position: relative;
}
/* .button-secondary::before{
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%,-50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background:var(--light-blue);
  transition: width 0.5s,height 0.5s;
}
.button-secondary:hover::before{
 width: 1000px;
 height: 1000px;
 color: var(--light-blue) !important;
} */

/* choose us section */
.choose-us-section{
  padding: 60px 0px !important;
  position: relative;
  z-index: 1;
}
.choose-us-section::after{
  content: '';
  position: absolute;
  backdrop-filter: blur(5px);
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.choose-us-title{
  color: var(--white);
  letter-spacing: -0.8px;
}
.choose-us-dsc{
  margin-bottom: 40px !important;
  max-width: 505px;
  color: var(--white);
}
.choose-us-card {
  padding: 0px 32px !important;
  gap: 32px;
}
.choose-us-card-title{
  letter-spacing: -0.48px;
  color: var(--lighter-gray);
  margin-bottom:20px !important;
}
.choose-us-card-dsc{
  color: var(--light-gray);
}
.choose-us-card-icon{
  padding: 25px !important;
  background: var(--lighter-gray);
  border-radius: 190px;
}
.choose-us-gradiant {
  position: relative;
}
.choose-us-gradiant::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, #F4F5F8 0%, rgba(144, 144, 146, 0) 100%,rgba(108, 85, 255, 0),
  rgba(99, 101, 255, 0));
  opacity: 0.3;
}
/* discover section */
.discover-section{
  padding: 100px 0px !important;
}
.discover-wrapper{
  max-width: 547px;
}
.discover-img-container {
  position: relative;
  padding: 20px 0px 20px 20px !important;
  border-radius: 3px;
  overflow: hidden; 
  width: 44.5% !important;
}
.discover-img-container-bottom {
  padding: 20px 20px 20px 0px !important;
}

.clipped-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background: var(--light-blue);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  z-index: 1; 
}
.clipped-bg-bottom{
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background: var(--light-blue);
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0 100%);
  z-index: 1; 
}
.discover-left{
  width: 51% !important;
}

.discover-img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 517px;
  border-radius: 3px;
  z-index: 2; 
  object-fit: cover;
}
.discover-top-title{
  color: var(--dark-blue);
  font-style: italic;
  letter-spacing: -0.16px;
  font-weight: 500 !important;
}
.discover-title{
  line-height: normal !important;
}
.discover-gradiant-left::before{
  background: linear-gradient(to right, #253993 0%, rgba(255, 255, 255, 0) 100%);
}
.discover-gradiant-left::after{
  background:var(--darker-blue);
}
.discover-gradiant-right::before{
  background: linear-gradient(to left, #253993 0%, rgba(255, 255, 255, 0) 100%);
}
.discover-gradiant-right::after{
  background:var(--darker-blue);
}

.discover-dsc{
  letter-spacing: -0.178px;
  color: var(--dark-gray);
  font-size: 17.762px !important;
  margin-bottom: 30px !important;
  line-height: 27.631px !important;
}
.discover-dsc-span{
  color: var(--lighter-black);
  font-weight: 500 !important;
  font-style: italic;
  display: block;
}
.discover-checkmark-text{
  color: var(--black);
font-size: 17px;
font-weight: 500;
line-height: 27.631px; 
letter-spacing: -0.17px;
margin-bottom: 10px !important;
}

.advance-section{
  padding: 70px 0px !important;
  position: relative;
  z-index: 1;
}
.advance-section::after{
  content: '';
  position: absolute;
  backdrop-filter: blur(7.5px);
  top: 0px;
  width: 100%;
  z-index: -1;
  height: 100%;
}
.advance-section-dsc{
  margin-bottom: 40px !important;
  color: var(--off-white);
}
.advance-booking-btn {
  letter-spacing: -0.17px;
  font-weight: 500 !important;
  color: var(--dark-blue);
  border: none !important;
  padding: 14px 24px !important;
  border-radius: 90px;
background: var(--lighter-gray);
}
/* footer */
.footer{
  padding: 70px 0px 40px 0px !important;
  background: var(--darkest-blue);
}
.footer-left-dsc{
  margin: 10px 0px 43px 0px !important;
  color: var(--white); 
}
.social-icon{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--lightest-gray);
  background: transparent;
}
.footer-title{
  font-weight: 600 !important;
  color: var(--white);
  margin-bottom: 26px !important;
}
.footer-number{
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}
.disclaimer{
  padding-top: 30px !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  opacity: 0.8;
}
.footer-span{
  display: block;
}
