/* ======= Responsive CSS   ====== */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /* =======  Modify default CSS   ====== */

  .w-50,
  .w-25,
  .w-75 {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: red; */
  }
}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  body {
    /* background-color: green; */
  }
}

/* Large devices (laptops/desktops, 992px and up)  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    /* background-color: blue; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    /* background-color: rgb(233, 233, 225); */
  }
}

/* 1200px and up default value   */













/* ======= Responsive CSS   ====== */


@media only screen and (max-width: 400px) {
  
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /* Hero style start  */
  .hero-wrapper {
    padding: 72px 25px !important;
  }
  .hero-welcome-title h5 {
    font-size: 10px;
    line-height: 12px;
  }
  .welcome-title-span1::before {
    left: -30px;
    width: 4px;
    height: 4px;
  }
  .welcome-title-span1::after {
    left: -30px;
    width: 20px;
    height: 1px;
  }
  .welcome-title-span2::before {
    right: -30px;
    width: 4px;
    height: 4px;
  }
  .welcome-title-span2::after {
    right: -30px;
    width: 20px;
    height: 1px;
  }
  .hero-main-title {
    font-size: 26px;
    line-height: 32px;
  }
  .hero-main-title span::before {
    top: 0;
    right: -10px;
  }
  .hero-desc {
    font-size: 12px;
    line-height: 15px;
    padding: 0 15px !important;
  }
  .hero-btn button{
    font-size: 12px;
    line-height: 16px;
    padding: 8px 12px !important;
  }
  /* Hero style end  */

  /* Gallery style start  */
  .gallery-wrapper {
    padding: 40px 16px !important;
  }
  .gallery-top-content {
    gap: 8px;
    max-width: 295px;
  }
  .gallery-top-content h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .gallery-top-content p {
    font-size: 12px;
    line-height: 16px;
  }
  /* Gallery style End  */

}

/* Medium devices (landscape tablets, 768px and up)  */
@media only screen and (max-width: 767px) {
  /* header style start  */
  .header-wrapper {
    padding: 10px 16px !important;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    z-index: 100;
  }

  .navbar.active {
      display: flex;
  }

  .nav-list {
      flex-direction: column;
      text-align: center;
  }

  .nav-list li {
      margin: 10px 0 !important;
  }

  .hamburger {
      display: flex;
  }
  /* header style end  */


  /* Testimonials style start  */
  .testimonials-bottom-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .transparent-border::before {
    width: 0;
  }
  /* Testimonials style end  */


}



/* Large devices (laptops/desktops, 992px and up)  */

@media only screen and (max-width: 991px) {
  
}



/* Extra large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (max-width: 1199px) {
  
}

/* 1200px and up default value   */

